footer {
    background-color: #00FF00;
    color:#ffff;
    height: 60px;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px #CCCCCC
}
