header {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left 20px 0 50;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
