.filters { 
    height:70px;
    width : 100%;
    background-color:#FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
}

.filters button{
    height:48px;
    width: 20%;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    border: none;
    margin: auto;
    margin-right: 30px;
    border-radius: 4px; 
}

.filters .locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}
.filters .amenities {
    height: 100%;
    width: 25%;
}
.filters h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 25%;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 25%;
}
